// background
$BackgroundPage: #d93e1c;
$BackgroundButton: #5fde47;
$BackgroundInput: #fb8f78;
//text color
$TextColor: #ffffff;
// Box shadow
$BoxShadowForm: 0px 0px 20px rgba(0, 0, 0, 0.6);
$BoxShadowTextTitle: 0px 0px 15px rgba(0, 0, 0, 0.86);
