// flex box class names
.center-cs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.center-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.center-space-r {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.center-space-a-r {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.center-space-a-c {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
