.block-create-notes {
  width: 90%;
  height: 100px;
  border-bottom: 1px solid #fff;
}
.but-create-notes {
  width: 50%;
  height: 50px;
  color: #5fde47;
  font-size: 40px;
  border: none;
  background-color: #fff;
  border-radius: 5px;
}
