.block-but {
  width: 100%;
  height: 15%;
  background-color: white;
  .but-save {
    width: 30%;
    height: 40px;
    border: none;
    outline: none;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    background-color: $BackgroundButton;
    @media (max-width: 575px) {
      width: 105px;
    }
  }
}
